* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}


/* --- Header ---- */
.navbar {
    padding: 25px;
    background-color: #2158b8;
}

.nav-item a {
    color: #ffffff;
}

.nav-item a:hover {
    color: #FF731D;
}

.dropdown-menu {
    background-color: #000000a1;
}

/* ----Aviso de envios------ */
.alert {
    margin: 0%;
    background-color: #454545;
    color: #ffffff;
}

/* --- Carrusel ---- */
.carousel img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(45, 45, 45, 0.35);
    box-shadow: 0 8px 32px 0 rgba(112, 112, 112, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.022);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}

.carousel-caption h1 {
    font-weight: bold;
    color: #ffffff;
}

.carousel-caption h2 {
    font-weight: bold;
    color: #ffffff;
}

.carousel-caption p {
    color: #ffffff;
}

/* --- Categorías ---- */

.categorias {
    background-color: rgba(119, 119, 119, 0.296);
    padding: 20px;
}
.categorias .titulo {
    color: #FF731D;
}

.figure img {
    height: 15rem;
    width: 20rem;
}
.figure-caption {
    color: #003270;
    font-family: 'Prompt', sans-serif;
}

.categ:hover {
    transform: scale(1.1, 1.1)
}


/* ---- Ofertas del mes ---- */
.ofertas-del-mes {
    background-color: rgba(119, 119, 119, 0.296);
    padding: 20px;
}
.ofertas-del-mes .titulo {
    color: #FF731D;
}

.card-title {
    color: #FF731D;
    font-weight: bolder;
}

.ofertas-del-mes img {
    object-fit: contain;
}
/* ---- Lo mas vendido ---- */

.lo-mas-vendido {
    background-color: rgba(119, 119, 119, 0.296);
    padding: 20px;
}
.lo-mas-vendido .titulo {
    color: #FF731D;
}

.card-img-top {
    height: 15rem;
    object-fit: contain;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


/* ---- Footer ---- */
footer {
    background-color: #2c2f36;
    color: #ffffff;
}

footer h5 {
    font-weight: bold;
    color: #FF731D;
}

footer a{
    text-decoration: none;
    color: #ffffff;
} 

footer a:hover {
    color: #4d88ac90;
} 


/* -------Pagina: Sobre nosotros------- */

.portada-aboutus {
    height: 30vh;
    background-image: url(../img/paletapintura.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-titulo {
    background: rgba(45, 45, 45, 0.35);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.nuestra-historia {
    color: #FF731D;
    font-weight: bolder;
}
.img {
    padding: 20px;
    width: 600px;
    height: 450px;
    object-fit: cover;
}


/* -------Pagina: Contacto----- */

.portada-contacto {
    height: 40vh;
    background-image: url(../img/contacto2.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}

/* -------Pagina: Productos Atriles------- */

.portada-atriles {
    height: 40vh;
    background-image: url(../img/atril2.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atriles-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}


/* -------Pagina: Productos Telas------- */
.portada-telas {
    height: 40vh;
    background-image: url(../img/bastidor.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telas-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}

.telas {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
}

.card {
    width: 22rem;
}

.btn-outline-primary {
    box-shadow: 0px 10px 14px -7px #9fb4f2;
    background: linear-gradient(to bottom, #2158b8 5%, #003270 100%);
    background-color: #2158b8;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.btn-outline-primary:hover {
    background: linear-gradient(to bottom, #003270 5%, #2158b8 100%);
    background-color: #003270;
}


.card-img-top {
    height: 15rem;
}

.telas h3 {
    color: #FF731D;
}

/* -------Pagina: Productos Pizarras------- */

.portada-pizarras {
    height: 40vh;
    background-image: url(../img/pizarrablanca02.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizarras-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}


/* -------Pagina: Productos Pinturas------- */

.portada-pinturas {
    height: 40vh;
    background-image: url(../img/insumosarte.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinturas-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}


/* -------Pagina: Productos Pinceles------- */

.portada-pinceles {
    height: 40vh;
    background-image: url(../img/pinceles04.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinceles-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}

/* -------Pagina: Productos Auxiliares------- */

.portada-auxiliares {
    height: 40vh;
    background-image: url(../img/artsupply.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auxiliares-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}

/* -------Pagina: Productos Lapiceria------- */

.portada-lapiceria {
    height: 40vh;
    background-image: url(../img/plumones.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lapiceria-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}

/* -------Pagina: Productos Accesorios------- */

.portada-accesorios {
    height: 40vh;
    background-image: url(../img/lapicescolor.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accesorios-titulo {
    background-color: rgba(129, 142, 185, 0.296);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
}