* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.navbar {
  padding: 25px;
  background: linear-gradient(90deg, #0055F1 0%, #242F4C 100%);
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover {
  color: #FF731D;
}

.dropdown-menu {
  background-color: rgba(63, 63, 63, 0.5960784314);
  color: #FF731D;
}

.breadcrumb {
  background-color: rgba(23, 56, 164, 0.9960784314);
}
.breadcrumb a {
  color: #d6621e;
}
.breadcrumb .active {
  color: #ffffff;
}

.carousel img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(45, 45, 45, 0.35);
  box-shadow: 0 8px 32px 0 rgba(112, 112, 112, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.022);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
}
.carousel-caption h1 {
  font-weight: bold;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}
.carousel-caption h2 {
  font-weight: bold;
  color: #ffffff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: #ffffff;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  padding: 3px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.sec-categoria {
  border: 0px solid rgba(255, 255, 255, 0.0078431373);
  border-radius: 1%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.sec-categoria:hover {
  animation: pulse 1s ease 0s 1 normal forwards;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.sec-categoria h3 {
  color: #FF731D;
}

.sec-categoria img {
  border-radius: 1%;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.card-title {
  color: #FF731D;
  font-weight: bolder;
}

.tarjeta-producto {
  border: 1px solid rgba(0, 0, 0, 0.0588235294);
  border-radius: 0%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.tarjeta-producto:hover {
  transform: translate(7px, -1px);
}
.tarjeta-producto h3 {
  color: #FF731D;
}
.tarjeta-producto img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.btn {
  box-shadow: 4px 4px 7px -1px #3e527a;
  background: linear-gradient(to bottom, #4f81bd 5%, #000bac 100%);
  background-color: #4f81bd;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 15px;
  padding: 13px 28px;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(to bottom, #000bac 5%, #4f81bd 100%);
  background-color: #000bac;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-enviar {
  box-shadow: 3px 2px 6px 1px #234399;
  background: linear-gradient(to bottom, #0049c7 5%, #0054f1 100%);
  background-color: #0049c7;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 26px;
  text-decoration: none;
}

.btn-enviar:hover {
  background: linear-gradient(to bottom, #0054f1 5%, #0049c7 100%);
  background-color: #0054f1;
}

.btn-enviar:active {
  position: relative;
  top: 1px;
}

.btn-borrar {
  box-shadow: 3px 2px 6px 1px #cccccc;
  background: linear-gradient(to bottom, #c7ccd6 5%, #7e858f 100%);
  background-color: #c7ccd6;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  padding: 8px 26px;
  text-decoration: none;
}

.btn-borrar:hover {
  background: linear-gradient(to bottom, #7e858f 5%, #c7ccd6 100%);
  background-color: #7e858f;
}

.btn-borrar:active {
  position: relative;
  top: 1px;
}

.carousel img {
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background: rgba(45, 45, 45, 0.35);
  box-shadow: 0 8px 32px 0 rgba(112, 112, 112, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.022);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
}
.carousel-caption h1 {
  font-weight: bold;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}
.carousel-caption h2 {
  font-weight: bold;
  color: #ffffff;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: #ffffff;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  padding: 3px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}

.slider .slide {
  height: 100px;
  width: 250px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

footer {
  background-color: #2c2f36;
  color: #ffffff;
}
footer h5 {
  font-weight: bold;
  color: #FF731D;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  color: #2d83d4;
}

.footer1 {
  margin: 0%;
}

form {
  border: 3px;
  background: rgb(194, 194, 194);
  background: linear-gradient(90deg, rgba(194, 194, 194, 0.2021183473) 0%, rgba(212, 212, 212, 0.1096813725) 50%, rgba(254, 254, 255, 0.1404936975) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-control {
  border: 3px double rgba(255, 115, 29, 0.26);
  border-radius: 40px;
}

.form-select {
  border: 3px double rgba(255, 115, 29, 0.26);
  border-radius: 40px;
}

.alerta {
  margin: 0%;
  background-color: #454545;
  color: #ffffff;
  border-radius: 0%;
  border-color: #454545;
}

.seccion-categorias {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 25%, rgba(218, 227, 241, 0.9276085434) 46%, rgb(255, 255, 255) 84%);
}

.ofertas {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 2%, rgba(183, 211, 255, 0.2133228291) 46%, rgb(255, 255, 255) 98%);
}

.mas-vendido {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 2%, rgba(183, 211, 255, 0.2133228291) 46%, rgb(255, 255, 255) 98%);
}

.categorias .titulo {
  font-family: "Rubik", sans-serif;
  color: #2158b8;
}

.titulo {
  font-family: "Rubik", sans-serif;
  color: #2158b8;
}

.marcas {
  font-family: "Rubik", sans-serif;
  color: #FF731D;
}

.portada-aboutus {
  height: 40vh;
  background-image: url(../img/paletapintura.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutus-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.portada-atriles {
  height: 40vh;
  background-image: url(../img/atril2.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.atriles-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.portada-auxiliares {
  height: 40vh;
  background-image: url(../img/artsupply.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auxiliares-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.portada-pinceles {
  height: 40vh;
  background-image: url(../img/pinceles04.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinceles-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.portada-pinturas {
  height: 40vh;
  background-image: url(../img/insumosarte.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinturas-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.portada-pizarras {
  height: 40vh;
  background-image: url(../img/pizarrablanca02.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizarras-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.portada-telas {
  height: 40vh;
  background-image: url(../img/bastidor.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telas-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.product-1 h3 {
  color: #FF731D;
}

.portada-contacto {
  height: 40vh;
  background-image: url(../img/contacto2.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-titulo {
  background: rgba(45, 45, 45, 0.35);
  font-size: 1.8rem;
  color: white;
  padding: 15px;
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.contacto-text h2 {
  color: #FF731D;
  font-weight: bolder;
}
.contacto-text img {
  width: 500px;
  height: 350px;
  object-fit: cover;
}
.contacto-text a {
  color: #FF731D;
  font-weight: bolder;
}

.sucursales h2 {
  color: #FF731D;
}
.sucursales h3 {
  color: #2158b8;
}

/*# sourceMappingURL=style.css.map */
