.portada-contacto {
    height: 40vh;
    background-image: url(../img/contacto2.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-titulo {
    background: rgba(45, 45, 45, 0.35);
    font-size: 1.8rem;
    color: white;
    padding: 15px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.contacto-text h2 {
    color: #FF731D;
    font-weight: bolder;

    & img {
        width: 500px;
        height: 350px;
        object-fit: cover;
    }
    
    & a {
        color: #FF731D;
        font-weight: bolder;
    }
}

.sucursales h2 {
    color: #FF731D;
}

.sucursales h3 {
    color: #2158b8;
}