.alerta {
    margin: 0%;
    background-color: #454545;
    color: #ffffff;
    border-radius: 0%;
    border-color: #454545;
}

.categorias {
    background-color: rgba(119, 119, 119, 0.296);
    margin: 25px;
    padding: 20px;
}

.categorias .titulo {
    color: #FF731D;
}

.figure img {
    height: 15rem;
    width: 20rem;
}

.figure-caption {
    color: #003270;
    font-family: 'Prompt', sans-serif;
}

.categ:hover {
    transform: scale(1.1, 1.1)
}

.ofertas-del-mes {
    background-color: rgba(119, 119, 119, 0.296);
    margin: 25px;
    padding: 20px;
}

.ofertas-del-mes .titulo {
    color: #FF731D;
}

.lo-mas-vendido {
    background-color: rgba(119, 119, 119, 0.296);
    margin: 25px;
    padding: 20px;
}

.lo-mas-vendido .titulo {
    color: #FF731D;
}

.sticky-ws {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.ws-icon {
    margin-top: 16px;
}