.btn {
	background:linear-gradient(to bottom, #02148b 5%, #2f49bd 100%);
	background-color:#02148b;
	border-radius:17px;
	border:1px solid #29468f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #2f49bd 5%, #02148b 100%);
	background-color:#2f49bd;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn-modal-sc {
	background:linear-gradient(to bottom, #c9c9c9 5%, #b8b8b8 100%);
	background-color:#c9c9c9;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#242424;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
}
.btn-modal-sc:hover {
	background:linear-gradient(to bottom, #b8b8b8 5%, #c9c9c9 100%);
	background-color:#b8b8b8;
}
.btn-modal-sc:active {
	position:relative;
	top:1px;
}

.btn-modal-carrito {
	background-color:#02148b;
	border-radius:40px;
	border:1px solid #29468f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
}
.btn-modal-carrito:hover {
	background-color:#1c36c7;
}
.btn-modal-carrito:active {
	position:relative;
	top:1px;
}

.btn-enviar {
	background-color:#02148b;
	border-radius:40px;
	border:1px solid #29468f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:10px 27px;
	text-decoration:none;
}
.btn-enviar:hover {
	background-color:#1c36c7;
}
.btn-enviar:active {
	position:relative;
	top:1px;
}

.btn-borrar {
	background:linear-gradient(to bottom, #c9c9c9 5%, #b8b8b8 100%);
	background-color:#c9c9c9;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#242424;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
}
.btn-borrar:hover {
	background:linear-gradient(to bottom, #b8b8b8 5%, #c9c9c9 100%);
	background-color:#b8b8b8;
}
.btn-borrar:active {
	position:relative;
	top:1px;
}

       