.btn {
	box-shadow: 4px 4px 7px -1px #3e527a;
	background:linear-gradient(to bottom, #4f81bd 5%, #000bac 100%);
	background-color:#4f81bd;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:13px 28px;
	text-decoration:none;
}
.btn:hover {
	background:linear-gradient(to bottom, #000bac 5%, #4f81bd 100%);
	background-color:#000bac;
}
.btn:active {
	position:relative;
	top:1px;
}


.btn-enviar {
	box-shadow: 3px 2px 6px 1px #234399;
	background:linear-gradient(to bottom, #0049c7 5%, #0054f1 100%);
	background-color:#0049c7;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 26px;
	text-decoration:none;
}
.btn-enviar:hover {
	background:linear-gradient(to bottom, #0054f1 5%, #0049c7 100%);
	background-color:#0054f1;
}
.btn-enviar:active {
	position:relative;
	top:1px;
}


.btn-borrar {
	box-shadow: 3px 2px 6px 1px #cccccc;
	background:linear-gradient(to bottom, #c7ccd6 5%, #7e858f 100%);
	background-color:#c7ccd6;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:8px 26px;
	text-decoration:none;
}
.btn-borrar:hover {
	background:linear-gradient(to bottom, #7e858f 5%, #c7ccd6 100%);
	background-color:#7e858f;
}
.btn-borrar:active {
	position:relative;
	top:1px;
}


       