.sec-categoria {
    border: 0px solid #ffffff02;
    border-radius: 1%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;


    &:hover {
        animation: pulse 1s ease 0s 1 normal forwards;
    }

    @keyframes pulse {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.2;
        }

        100% {
            opacity: 1;
        }
    }

    & h3 {
        color: #FF731D;
    }
}


.sec-categoria img {
    border-radius: 1%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.card-title {
    color: #FF731D;
    font-weight: bolder;
}

.tarjeta-producto {
    border: 1px solid #0000000f;
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    &:hover {
        transform: translate(7px, -1px);
    }

    & h3 {
        color: #FF731D;
    }

    & img {
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
}