.sec-categoria {
    border: 0px solid #e41b1b02;
    border-radius: 100%;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.card-title {
    color: #FF731D;
    font-weight: bolder;
}

.sec-categoria img{
    border: 1px solid #e41b1b02;
    border-radius: 100%;
    width: 450px;
    height: 350px;
    object-fit: cover;
}

.tarjeta-producto {
    border: 1px solid #0000000f;
    border-radius: 0%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    &:hover {
        transform: translate(7px, -1px);
    }

    & img {
        width: 250px;
        height: 250px;
        object-fit: fill;
    }
}

.breadcrumb {
    background-color: #1c4c9f;
    padding: 20px;

    & a {
        color: #FF731D;
     }
}
