a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

footer {
    background-color: #2c2f36;
    color: #ffffff;

    & h5 {
        font-weight: bold;
        color: #FF731D;
    }

    & a {
        color: #ffffff;
    }

    & a:hover {
        color: #2d83d4;
    }
}

.footer1 {
    margin: 0%;
}