footer {
    background-color: #2c2f36;
    color: #ffffff;
}

footer h5 {
    font-weight: bold;
    color: #FF731D;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #2d83d4;
}

.footer1 {
    margin: 0%;
}