a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.navbar {
    padding: 25px; 
    background: linear-gradient(90deg, #0055F1 0%, #242F4C 100%);
}

.nav-item a {
    color: #ffffff;

    & a:hover {
        color: #FF731D;
    }
}

.dropdown-menu {
    background-color: #000000a1;
    color: #FF731D;
}