a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.navbar {
    padding: 25px;
    background-color: #2158b8;
}

.nav-item a {
    color: #ffffff;
}

.nav-item a:hover {
    color: #FF731D;
}

.dropdown-menu {
    background-color: #000000a1;
    color: #FF731D;
}