
.navbar {
    padding: 25px;
    background: linear-gradient(90deg, #0055F1 0%, #242F4C 100%);

    & a {
        color: #ffffff
    }

    & a:hover {
        color: #FF731D;
    }
}

.dropdown-menu {
    background-color: #3f3f3f98;
    color: #FF731D;
}

.breadcrumb {
    background-color: #1738a4fe;

    & a {
        color: #d6621e;
    }
    
    & .active {
        color: #ffffff;
    }
}
